html {
  font-size: 12px;
}

html,
body {

  padding: 0;
  margin: 0;

}

html,
body,
#root,
.App {
  height: 900px;
}


*, ::before, ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;

}

a {
  text-decoration: none;
  cursor: pointer;
}

a, a:hover {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.main {
  width: 100%;
  height: auto;
  max-width: 1450px;
  padding: 0 10px;
  margin: 140px auto 0 auto;
}

.controlPanel {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 3rem 0 0 25.0rem;

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 25.0rem;
    height: 100%;

  }

  .content {
    padding: 0 10px;

  }
}

.adminLayout {
  height: calc(100% - 5.5rem);
}

.homepage {
  display: flex;

}
  
  
